# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: "Build server (CMake)"

on:
  push:
    branches:
    - master

    paths:
      - '.github/workflows/build_cmake_server.yml'
      - 'CMakeLists.txt'
      - 'deps/asio-cmake/CMakeLists.txt'
      - 'deps/boost-cmake/CMakeLists.txt'
      - 'deps/db-library-cmake/CMakeLists.txt'
      - 'deps/db-models-cmake/CMakeLists.txt'
      - 'deps/djb2-cmake/CMakeLists.txt'
      - 'deps/FTXUI-cmake/CMakeLists.txt'
      - 'deps/nanodbc-cmake/CMakeLists.txt'
      - 'deps/spdlog-cmake/CMakeLists.txt'
      - 'Server/**/CMakeLists.txt'
      - 'Server/**/.cpp'
      - 'Server/**/.h'
      - 'shared/CMakeLists.txt'
      - 'shared/**/.cpp'
      - 'shared/**/.h'

  pull_request:
    branches:
    - master

    paths:
      - '.github/workflows/build_cmake_server.yml'
      - 'CMakeLists.txt'
      - 'deps/asio-cmake/CMakeLists.txt'
      - 'deps/boost-cmake/CMakeLists.txt'
      - 'deps/db-library-cmake/CMakeLists.txt'
      - 'deps/db-models-cmake/CMakeLists.txt'
      - 'deps/djb2-cmake/CMakeLists.txt'
      - 'deps/FTXUI-cmake/CMakeLists.txt'
      - 'deps/nanodbc-cmake/CMakeLists.txt'
      - 'deps/spdlog-cmake/CMakeLists.txt'
      - 'Server/**/CMakeLists.txt'
      - 'Server/**/.cpp'
      - 'Server/**/.h'
      - 'shared/CMakeLists.txt'
      - 'shared/**/.cpp'
      - 'shared/**/.h'

  workflow_dispatch:

jobs:
  build_windows:
    runs-on: windows-latest

    strategy:
      matrix:
        BUILD_CONFIGURATION: [Debug, Release]
        BUILD_PLATFORM: [Win32, x64]

    name: "Server: ${{ matrix.BUILD_CONFIGURATION }} - ${{ matrix.BUILD_PLATFORM }} (Windows)"

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'false'

    - uses: lukka/get-cmake@latest

    - name: Configure CMake
      shell: bash
      run: |
        cmake -S . \
          -B build-windows-${{ matrix.BUILD_CONFIGURATION }}-${{ matrix.BUILD_PLATFORM }} \
          -G "Visual Studio 17 2022" \
          -A ${{ matrix.BUILD_PLATFORM }} \
          -DCMAKE_BUILD_TYPE=${{ matrix.BUILD_CONFIGURATION }}

    - name: Build server
      shell: bash
      run: |
        cmake \
          --build build-windows-${{ matrix.BUILD_CONFIGURATION }}-${{ matrix.BUILD_PLATFORM }} \
          --config ${{ matrix.BUILD_CONFIGURATION }}

    - name: Run tests
      shell: bash
      working-directory: build-windows-${{ matrix.BUILD_CONFIGURATION }}-${{ matrix.BUILD_PLATFORM }}
      run: |
        ctest -C "${{ matrix.BUILD_CONFIGURATION }}"

  build_linux:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        BUILD_CONFIGURATION: [Debug, Release]
        COMPILER: [gcc, clang, clang-20]

    env:
      clang-latest-version: 20

    name: "Server: ${{ matrix.BUILD_CONFIGURATION }} - ${{ matrix.COMPILER }} (Linux)"

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'false'

      - name: Install unixODBC
        run: sudo apt-get install unixodbc-dev -y

      - uses: lukka/get-cmake@latest

      - name: Setup compiler
        run: |
          if [ "${{ matrix.COMPILER }}" = "gcc" ]; then
            export CC=gcc
            export CXX=g++
          elif [ "${{ matrix.COMPILER }}" = "clang" ]; then
            export CC=clang
            export CXX=clang++
          else
            wget https://apt.llvm.org/llvm.sh
            chmod +x llvm.sh
            sudo ./llvm.sh ${{ env.clang-latest-version }}
            sudo apt-get update          
            export CC=clang-${{ env.clang-latest-version }}
            export CXX=clang++-${{ env.clang-latest-version }}
          fi
          echo "CC=$CC" >> $GITHUB_ENV
          echo "CXX=$CXX" >> $GITHUB_ENV

      - name: Configure CMake
        run: |
          cmake -S . \
            -B build-${{ matrix.COMPILER }}-${{ matrix.BUILD_CONFIGURATION }} \
            -G "Ninja" \
            -DCMAKE_BUILD_TYPE=${{ matrix.BUILD_CONFIGURATION }}

      - name: Build server
        run: |
          cmake \
            --build build-${{ matrix.COMPILER }}-${{ matrix.BUILD_CONFIGURATION }} \
            --config ${{ matrix.BUILD_CONFIGURATION }}

      - name: Run tests
        shell: bash
        working-directory: build-${{ matrix.COMPILER }}-${{ matrix.BUILD_CONFIGURATION }}
        run: |
          ctest -C "${{ matrix.BUILD_CONFIGURATION }}" --verbose
